---
pagination:
  data: templates
  size: 1
  alias: template
permalink: "<%= template.id %>/"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title><%= template.name %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="https://github.com/devcontainers-community/templates#readme"
            >GitHub</a
          >
        </li>
        <li>
          <a href="https://containers.dev/templates">Official templates</a>
        </li>
      </ul>
    </nav>

    <header>
      <h1><%= template.name %></h1>
      <p><%= template.description %></p>
    </header>

    <h2>Options</h2>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Description</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <% for (const [name, value] of Object.entries(template.options)) { %>
          <tr>
            <td><%= name %></td>
            <td><%= value.description %></td>
            <td><%= value.default %></td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <%- template.notesHTML %>
  </body>
</html>
